#header {
    color: white;
}

#header-login {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.15);
    cursor: default;
    font-weight: 600;
    height: 3.25em;
    left: 0;
    letter-spacing: 0.25em;
    line-height: 3.25em;
    margin: 0;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10000;
}

    #header-login .logo {
        border: 0;
        display: inline-block;
        font-size: 0.8em;
        height: inherit;
        line-height: inherit;
        padding: 0 1.5em;
    }

    #header-login .logo strong {
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        background-color: #ffffff;
        color: #242943;
        display: inline-block;
        line-height: 1.65em;
        margin-right: 0.325em;
        padding: 0 0.125em 0 0.375em;
    }

    #header-login .logo:hover strong {
        background-color: #9bf1ff;
    }

    #header-login .logo:active strong {
        background-color: #53e3fb;
    }

    #header-login.alt {
        -moz-transition: opacity 2.5s ease;
        -webkit-transition: opacity 2.5s ease;
        -ms-transition: opacity 2.5s ease;
        transition: opacity 2.5s ease;
        -moz-transition-delay: 0.75s;
        -webkit-transition-delay: 0.75s;
        -ms-transition-delay: 0.75s;
        transition-delay: 0.75s;
        -moz-animation: none;
        -webkit-animation: none;
        -ms-animation: none;
        animation: none;
        background-color: transparent;
        box-shadow: none;
    }

        #header-login.alt.style1 .logo strong {
            color: #6fc3df;
        }

        #header-login.alt.style3 .logo strong {
            color: #ec8d81;
        }

        #header-login.alt.style4 .logo strong {
            color: #e7b788;
        }

        #header-login.alt.style5 .logo strong {
            color: #8ea9e8;
        }

        #header-login.alt.style6 .logo strong {
            color: #87c5a4;
        }

        @media screen and (max-width: 736px) {

			#header {
				height: 2.75em;
				line-height: 2.75em;
			}

				#header .logo {
					padding: 0 1em;
				}
		}


#header {
    background: #fe8e3c;
}

.module h2, .module caption, .inline-group h2 {
    background: #0171c3;
}