					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><span class="icon solid alt fa-envelope"></span> <span>ssmohanad98@gmail.com</span></li>
								<li><span class="icon solid alt fa-phone"></span> <span>(000) 000-0000 x12387</span></li>
								<li><span class="icon solid alt fa-home"></span> <span>Iraq, Baghdad</span></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Cyberhex | 2022</li>
							</ul>
						</div>
					</footer>